<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Open+Sans:wght@300;400;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои задания | YCTests</title>
</head>
<body>
    <header class="main-header">
        <div class="header__wrap container">
            <div class="logo-mockup"></div>
            <nav class="header__nav">
                <ul class="nav-links__list">
                    <li class="nav-list__item nav-list__item--current">
                        <a href="#">Задания</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="./successPage.html">Успехи</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="./groupPage.html">Группы</a>
                    </li>
                </ul>
            </nav>
            <div class="header__name">
                <p>Константин Константиномпольский</p>
            </div>
            <div class="header__exit-wrap">
                <button>
                    Выход
                </button>
            </div>
        </div>
    </header>

    <main>
        <div class="container container--exercise">
            <h1 class="headline exersise-page__headline">
                Задания
            </h1>
            <ul class="exersise__list">
                <li class="exersise-list__item">
                    <a class="exersise__item-container" href="#">
                        <div class="exersise-points__wrap">
                            <div class="exersise__point">
                                <p class="point__hint">
                                    Тестирование
                                </p>
                                <h4 class="point__headline">
                                    Тест №3. Функции и циклы
                                </h4>
                            </div>
                            <div class="exersise__point">
                                <p class="point__hint">
                                    Направление
                                </p>
                                <h4 class="point__headline point__headline--course">
                                    Моб. Разработка
                                </h4>
                            </div>
                            <div class="exersise__point">
                                <p class="point__hint">
                                    Преподаватель
                                </p>
                                <h4 class="point__headline point__headline--teacher">
                                    Константин
                                </h4>
                            </div>
                            <div class="exersise__point">
                                <p class="point__hint">
                                    Срок выполнения
                                </p>
                                <h4 class="point__headline deadline--open">
                                    21.12 12:00
                                </h4>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="exersise-list__item">
                    <a class="exersise__item-container" href="#">
                        <div class="exersise-points__wrap">
                            <div class="exersise__point">
                                <p class="point__hint">
                                    Тестирование
                                </p>
                                <h4 class="point__headline">
                                    Тест №1. Кортежи и списки
                                </h4>
                            </div>
                            <div class="exersise__point">
                                <p class="point__hint">
                                    Направление
                                </p>
                                <h4 class="point__headline point__headline--course">
                                    Python. Уровень 1
                                </h4>
                            </div>
                            <div class="exersise__point">
                                <p class="point__hint">
                                    Преподаватель
                                </p>
                                <h4 class="point__headline point__headline--teacher">
                                    Василий
                                </h4>
                            </div>
                            <div class="exersise__point">
                                <p class="point__hint">
                                    Срок выполнения
                                </p>
                                <h4 class="point__headline deadline--close">
                                    22.08 12:00
                                </h4>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>


    </main>

    <footer class="container main-footer">
        <div class="footer-wrap">
            <div class="footer__column footer__copyright">
                <div class="logo-mockup"></div>
                <p>©2022 yescoding</p>
                <p>
                    <a class="footer__link" href="https://yescoding.ru/personal-data">
                        Политика конфидицальности (обработки персональных данных)
                    </a>
                </p>
            </div>
            <div class="footer__column footer__hamster">
                <div class="hamster-container">
                    <img src="../img/thinking_hamster.png" alt="хомяк маскот">
                </div>
            </div>
            <div class="footer__column our-projects">
                <h3 class="footer__headline">
                    Другие проекты
                </h3>
                <ul class="footer__project-links-list">
                    <li>
                        <a class="footer__link" href="https://homing.yescoding.ru" target="_blank">homing.yescoding.ru</a>
                    </li>
                    <li>
                        <a class="footer__link" href="https://yescoding.ru" target="_blank">yescoding.ru</a>
                    </li>
                    <li>
                        <a class="footer__link" href="https://yescompany.ru" target="_blank">yescompany.ru</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__headline">
                    Контакты
                </h3>
                <ul class="footer__project-links-list">
                    <li>
                        <a class="footer__link" href="mailto:coding@yescoding.ru">coding@yescoding.ru</a> 
                    </li>
                    <li>
                        <a class="footer__link" href="t.me/yescoding">
                            t.me/yescoding
                        </a>
                    </li>
                    <li>
                        <a class="footer__link" href="https://tiktok.com/@yescoding">
                            @yescoding
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>