<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Группы | YCTests</title>
</head>
<body>
    <header class="main-header">
        <div class="header__wrap container">
            <div class="logo-mockup"></div>
            <nav class="header__nav">
                <ul class="nav-links__list">
                    <li class="nav-list__item">
                        <a href="./exersisePage.html">Задания</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="./successPage.html">Успехи</a>
                    </li>
                    <li class="nav-list__item nav-list__item--current">
                        <a href="#">Группы</a>
                    </li>
                </ul>
            </nav>
            <div class="header__name">
                <p>Константин Константиномпольский</p>
            </div>
            <div class="header__exit-wrap">
                <button>
                    Выход
                </button>
            </div>
        </div>
    </header>

    <main>
        <div class="container container--exercise">
            <h1 class="headline exersise-page__headline">
                Группы
            </h1>
           <ul class="group-page__list">
            <li class="group-list__item">
                <a class="group-item__link" href="./groupsExersisePage.html">
                    <h2 class="group-item__headline">
                        Костя К – Питон
                    </h2>
                    <div class="group-item__desc-list">
                        <div class="group-item__desc-wrap">
                            <p class="desc-wrap__key">Направление</p>
                            <p class="desc-wrap__value">Python</p>
                        </div>
                        <div class="group-item__desc-wrap">
                            <p class="desc-wrap__key">Пройдено</p>
                            <p class="desc-wrap__value">1/3</p>
                        </div>
                        <div class="group-item__desc-wrap">
                            <p class="desc-wrap__key">Преподаватель</p>
                            <p class="desc-wrap__value">Максим</p>
                        </div>
                    </div>
                </a>
            </li>

            <li class="group-list__item">
                <a class="group-item__link" href="#">
                    <h2 class="group-item__headline">
                        Костя К – Мобилка
                    </h2>
                    <div class="group-item__desc-list">
                        <div class="group-item__desc-wrap">
                            <p class="desc-wrap__key">Направление</p>
                            <p class="desc-wrap__value">Моб. приложения</p>
                        </div>
                        <div class="group-item__desc-wrap">
                            <p class="desc-wrap__key">Пройдено</p>
                            <p class="desc-wrap__value">2/3</p>
                        </div>
                        <div class="group-item__desc-wrap">
                            <p class="desc-wrap__key">Преподаватель</p>
                            <p class="desc-wrap__value">Константин</p>
                        </div>
                    </div>
                </a>
            </li>
           </ul>
        </div>


    </main>

    <footer class="container main-footer">
        <div class="footer-wrap">
            <div class="footer__column footer__copyright">
                <div class="logo-mockup"></div>
                <p>©2022 yescoding</p>
                <p>
                    <a class="footer__link" href="https://yescoding.ru/personal-data">
                        Политика конфидицальности (обработки персональных данных)
                    </a>
                </p>
            </div>
            <div class="footer__column footer__hamster">
                <div class="hamster-container">
                    <img src="../img/thinking_hamster.png" alt="хомяк маскот">
                </div>
            </div>
            <div class="footer__column our-projects">
                <h3 class="footer__headline">
                    Другие проекты
                </h3>
                <ul class="footer__project-links-list">
                    <li>
                        <a class="footer__link" href="https://homing.yescoding.ru" target="_blank">homing.yescoding.ru</a>
                    </li>
                    <li>
                        <a class="footer__link" href="https://yescoding.ru" target="_blank">yescoding.ru</a>
                    </li>
                    <li>
                        <a class="footer__link" href="https://yescompany.ru" target="_blank">yescompany.ru</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__headline">
                    Контакты
                </h3>
                <ul class="footer__project-links-list">
                    <li>
                        <a class="footer__link" href="mailto:coding@yescoding.ru">coding@yescoding.ru</a> 
                    </li>
                    <li>
                        <a class="footer__link" href="t.me/yescoding">
                            t.me/yescoding
                        </a>
                    </li>
                    <li>
                        <a class="footer__link" href="https://tiktok.com/@yescoding">
                            @yescoding
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>