<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Open+Sans:wght@300;400;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест | YCTests</title>
</head>
<body>
    <header class="main-header">
        <div class="header__wrap container">
            <div class="logo-mockup"></div>
            <nav class="header__nav">
                <ul class="nav-links__list">
                    <li class="nav-list__item">
                        <a href="./exersisePage.html">Задания</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="./successPage.html">Успехи</a>
                    </li>
                    <li class="nav-list__item ">
                        <a href="#">Группы</a>
                    </li>
                </ul>
            </nav>
            <div class="header__name">
                <p>Константин Константиномпольский</p>
            </div>
            <div class="header__exit-wrap">
                <button>
                    Выход
                </button>
            </div>
        </div>
    </header>

    <main>
        <div class="container container--exercise">
            <h1 class="test-page__headline">
                Тест №3. Подключение и использование пакетов Python 
            </h1>
            <form id="testForm" action="http://smash.yescoding.ru/dasdads" method="post">
                <ul class="test__question-list">
                    <li class="question-list__item">
                        <h4>Какой тэг поможет позволяет обозначить навигационный раздел со ссылками на другие страницы или другие части страниц?</h4>
                        <div class="question-item__variants-wrap">
                            <div class="question-item__check-wrap">
                                <input id="id11" name="id1" type="checkbox" value="&lta&gt">
                                <label for="id11">
                                    &lta&gt
                                </label>
                            </div>
                            <div class="question-item__check-wrap">
                                <input id="id12" name="id1" type="checkbox" value="&ltp&gt">
                                <label for="id12">
                                    &ltp&gt
                                </label>
                            </div>
                            <div class="question-item__check-wrap">
                                <input id="id13" name="id1" type="checkbox" value="&ltnav&gt">
                                <label for="id13">
                                    &ltnav&gt
                                </label>
                            </div>
                            <div class="question-item__check-wrap">
                                <input id="id14" name="id1" type="checkbox" value="&ltdiv&gt">
                                <label for="id14">
                                    &ltdiv&gt
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="question-list__item question-list__item--variants">
                        <h4>Какой тэг поможет позволяет обозначить навигационный раздел со ссылками на другие страницы или другие части страниц?</h4>
                        <input name="id2" class="quesrtion-variant__text-input" type="text">
                    </li>
                    <li class="question-list__item">
                        <h4>Какой тэг поможет позволяет обозначить навигационный раздел со ссылками на другие страницы или другие части страниц?</h4>
                        <div class="question-item__variants-wrap question-item__variants-wrap--img">
                            <div class="question-item__check-wrap">
                                <input id="id31" name="id3" type="checkbox" value="id31">
                                <label for="id31">
                                    <div class="question-variant__img-wrap">
                                        <img src="../img/variants/id31.png" alt="">
                                    </div>
                                </label>
                            </div>
                            <div class="question-item__check-wrap">
                                <input id="id32" name="id3" autocomplete="off" type="checkbox" value="id32">
                                <label for="id32">
                                    <div class="question-variant__img-wrap">
                                        <img src="../img/variants/id32.png" alt="">
                                    </div>
                                </label>
                            </div>
                            <div class="question-item__check-wrap">
                                <input id="id33" name="id3" type="checkbox" value="id33">
                                <label for="id33">
                                    <div class="question-variant__img-wrap">
                                        <img src="../img/variants/id33.png" alt="">
                                    </div>
                                </label>
                            </div>
                            <div class="question-item__check-wrap">
                                <input id="id34" name="id3" type="checkbox" value="id34">
                                <label for="id34">
                                    <div class="question-variant__img-wrap">
                                        <img src="../img/variants/id34.png" alt="">
                                    </div>
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="test-form__submit-wrap">
                    <button class="form-submit__btn">Завершить тестирование</button>
                </div>
            </form>
        </div>
    </main>

    <div class="test__modal">
        <h4>Вы уверены, что хотите завершить тестирование?</h4>
        <button class="modal__postive-btn modal__btn">Да, завершить и отправить ответы</button>
        <button class="modal__negative-btn modal__btn">Нет, вернуться к прохождению</button>
    </div>

    <footer class="container main-footer">
        <div class="footer-wrap">
            <div class="footer__column footer__copyright">
                <div class="logo-mockup"></div>
                <p>©2022 yescoding</p>
                <p>
                    <a class="footer__link" href="https://yescoding.ru/personal-data">
                        Политика конфидицальности (обработки персональных данных)
                    </a>
                </p>
            </div>
            <div class="footer__column footer__hamster">
                <div class="hamster-container">
                    <img src="../img/thinking_hamster.png" alt="хомяк маскот">
                </div>
            </div>
            <div class="footer__column our-projects">
                <h3 class="footer__headline">
                    Другие проекты
                </h3>
                <ul class="footer__project-links-list">
                    <li>
                        <a class="footer__link" href="https://homing.yescoding.ru" target="_blank">homing.yescoding.ru</a>
                    </li>
                    <li>
                        <a class="footer__link" href="https://yescoding.ru" target="_blank">yescoding.ru</a>
                    </li>
                    <li>
                        <a class="footer__link" href="https://yescompany.ru" target="_blank">yescompany.ru</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__headline">
                    Контакты
                </h3>
                <ul class="footer__project-links-list">
                    <li>
                        <a class="footer__link" href="mailto:coding@yescoding.ru">coding@yescoding.ru</a> 
                    </li>
                    <li>
                        <a class="footer__link" href="t.me/yescoding">
                            t.me/yescoding
                        </a>
                    </li>
                    <li>
                        <a class="footer__link" href="https://tiktok.com/@yescoding">
                            @yescoding
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="../scripts/index.js"></script>
</body>
</html>